body {
    background-color: lightgray;
  }
.board_container {
  display:flex;
  max-width:100%;
  max-height:100%;
  aspect-ratio: 1 / 1;
  background-color: green;
}
.board {
    background-color:lightblue;
    display:flex;
    flex-direction:column;
    width:100%;
    max-width: 100%;
    max-height:100%;
    aspect-ratio: 1 / 1;
}
/* .board:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */
.board_row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.tile {
    border: 1px dashed red;
    width:9%;
    aspect-ratio: 1/1;
}
.hotel {
  visibility:hidden;
}
.firsthouse {
  visibility:hidden;
}
.secondhouse {
  visibility:hidden;
}
.thirdhouse {
  visibility:hidden;
}
.fourthhouse {
  visibility:hidden;
}
.player_list {
  display:flex;
  flex-direction:column;
  width:400px;
  background-color:white;
}
.player_details {
  display:flex;
  font-size:40px;
  flex-direction:row;
  font-weight:bold;
  justify-content: space-between;
  width:100%;
}
.player_details .name {
  padding:10px;
}
.player_details .account {
  padding:10px;
  font-size:20px;
}
div#player1 .name {
  color:lightgreen;
  font-size:20px;

}
div#player2 .name {
  color:lightblue;
  font-size:20px;
}
div#player3 .name {
  color:pink;
  font-size:20px;
}
div#player4 .name {
  color:yellow;
  font-size:20px;
}